@model Classify.Models.Product
<section id="page-head">
    <div class="container">
        <div class="row col-md-12">
            <div class="page-heading">
                <h1>EDIT AD</h1>
                <h4>Easy & a simple way to edit</h4>
            </div>
        </div>
    </div>
</section><!--end main page heading-->
<section id="detail">
    <div class="container">
        <div class="row">
            <form method="post" action="Edit" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="#Category">Category :</label>
                            @Html.DropDownListFor(model => model.Category, ViewBag.Category2 as SelectList, "Select Category", new { @class = "form-control mb-2", placeholder = "Name" })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label for="#Name">Name :</label>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control mb-2", placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="#Code">Code :</label>
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control mb-2", placeholder = "Code" } })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label for="#Price">Price :</label>
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control mb-2", placeholder = "Price" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label for="#Description">Description:</label>
                            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control mb-2", placeholder = "Description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="#Status">Status:</label>
                            @Html.RadioButtonFor(model => model.Status, true, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            True
                            @Html.RadioButtonFor(model => model.Status, false, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            False
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control mb-2", placeholder = "Discount" } })
                            @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="UploadImage">Current image:<span class="text-primary">@Model.Image</span></label>
                            <input type="file" name="ProductImg" placeholder="upload image here" id="UploadImage">
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Publish Ad" class="btn btn-primary" name="submit">
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-sm-6 text-center">
                    <label for="#UploadProductImage">Current Image :</label>
                    <img src="~/images/Productimages/@Model.Image" id="UploadProductImage" style="border:solid Red;height:250px;width:250px;" />
                </div>
            </form>
            <form>

            </form>
        </div>
    </div>
</section><!--end details-->
